$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;

    box-sizing: border-box;
}

.header {
    height: 100vh;
    background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)
        ), 
        url(./img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #FFFFFF;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.5rem;

    animation-name: moveInTop;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /* 80% {
        transform: translateX(10px);
    } */

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    /* 80% {
        transform: translateX(10px);
    } */

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #FFFFFF;
    color: #777777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: #FFFFFF;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.card {
    padding: 2rem;
    display: block;
    border-radius: 2rem;
    position: absolute;
    top: 10rem;
    left: 3rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.main-buttons {
    width: 492px;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
    position: absolute;
    top: 62rem;
    left: 3rem;
    text-align: center;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    color: #777777;
}

.rules {
    background-color: #FFFFFF;
    padding: 2rem;
    display: block;
    border-radius: 2rem;
    position: absolute;
    top: 10rem;
    right: 3rem;
    left: 55rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}